@font-face {
  font-family: "Bebas";
  font-display: swap;
  src: url("../fonts/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HelviticaNeue Roman";
  font-display: swap;
  src: url("../fonts/HelviticaNeue-Roman.woff") format("woff"), url("../fonts/HelviticaNeue-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Helvitica";
  font-display: swap;
  src: url("../fonts/Helvitica-Bold.woff") format("woff"), url("../fonts/Helvitica-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvitica";
  font-display: swap;
  src: url("../fonts/Helvitica-Regular.woff") format("woff"), url("../fonts/Helvitica-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lobster";
  font-display: swap;
  src: url("../fonts/Lobster.woff") format("woff"), url("../fonts/Lobster.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*Null style*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

body {
  font-family: 'Helvitica';
  font-weight: 400;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1024px;
  margin: 0px auto;
  padding: 10px;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 118px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
  background: #e2e2e2;
  background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), to(white));
  background: -o-linear-gradient(bottom, #e2e2e2 0%, white 100%);
  background: linear-gradient(0deg, #e2e2e2 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2",endColorstr="#ffffff",GradientType=1);
  /*Max Compatibility IE6+ */
}

.header__body {
  margin-top: -10px;
  height: 118px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  font-size: 49px;
  font-family: 'Lobster';
  position: relative;
  z-index: 3;
}

.header__logo a {
  color: #676666;
}

.header__logo span {
  color: #ff7700;
}

.header__burger {
  display: none;
}

.header__menu {
  margin-right: 30px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 118px;
  position: relative;
  z-index: 2;
}

.header__list li {
  position: relative;
  cursor: pointer;
  padding: 0px 30px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-right: 1px solid #cfcfcf;
}

.header__list li:last-child {
  border: none;
}

.header__list li::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  display: none;
  background: #ff7d00;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header__list li:hover {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  border-bottom: 1px solid #cc6400;
  background: #cac2c2;
  background: -webkit-gradient(linear, left bottom, left top, from(#cac2c2), to(white));
  background: -o-linear-gradient(bottom, #cac2c2 0%, white 100%);
  background: linear-gradient(0deg, #cac2c2 0%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cac2c2",endColorstr="#ffffff",GradientType=1);
}

.header__list li:hover::before {
  display: block;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.header__link {
  position: relative;
  top: 50%;
  color: #626262;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header__link i {
  color: #1f1f1f;
  font-size: 18px;
  margin-bottom: 14px;
}

.main__content {
  padding: 159px 0px 0px 0px;
}

.main__form {
  text-align: center;
  margin-bottom: 72px;
}

.main__form h1 {
  font-size: 28px;
  color: #565555;
  font-weight: 700;
  margin-bottom: 26px;
}

.main__form .file {
  margin-right: 15px;
  position: relative;
  top: -18px;
}

.main__form .file input {
  width: 449px;
  height: 48px;
  position: relative;
  cursor: pointer;
}

.main__form .file input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  border-radius: 3px;
  border: 1px solid #cacaca;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(90%, white), to(#e2dada));
  background: -o-linear-gradient(bottom, white 90%, #e2dada 100%);
  background: linear-gradient(0deg, white 90%, #e2dada 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#e2dada",GradientType=1);
}

.main__form .file input::after {
  content: 'Browse';
  position: absolute;
  top: 3.5px;
  right: 9px;
  background-color: #c1bfbf;
  font-family: 'HelviticaNeue Roman';
  font-size: 18px;
  color: #fff;
  border-radius: 3px;
  padding: 9px 17px 11px 16px;
}

.main__form .file input::-webkit-file-upload-button {
  visibility: hidden;
  /*hid the button that said "the file was not found" */
}

.main__form button {
  font-size: 24px;
  width: 209px;
  height: 47px;
  color: #fff;
  font-weight: 700;
  border-radius: 3px;
  background: #ff6700;
  background: -webkit-gradient(linear, left bottom, left top, from(#ff6700), color-stop(50%, #ff8b00), to(#ffa400));
  background: -o-linear-gradient(bottom, #ff6700 0%, #ff8b00 50%, #ffa400 100%);
  background: linear-gradient(0deg, #ff6700 0%, #ff8b00 50%, #ffa400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6700",endColorstr="#ffa400",GradientType=1);
}

.main__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main__image-block {
  width: 218px;
  height: 280px;
  color: #979393;
  border: 1px solid #d6d6d6;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  background: #e6e6e6;
  background: -webkit-gradient(linear, left bottom, left top, from(#e6e6e6), color-stop(10%, white));
  background: -o-linear-gradient(bottom, #e6e6e6 0%, white 10%);
  background: linear-gradient(0deg, #e6e6e6 0%, white 10%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e6e6e6",endColorstr="#ffffff",GradientType=1);
}

.image-block__container {
  padding: 7px;
}

.image-block__image {
  position: relative;
  cursor: pointer;
}

.image-block__image .fa-search-plus {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.5;
  color: #e2e2e1;
  font-size: 28px;
  display: none;
}

.image-block__image span {
  position: absolute;
  bottom: 6px;
  left: 9px;
  font-family: 'BebasNeue';
  font-size: 19px;
  color: #fff;
}

.image-block__image:hover .fa-search-plus {
  display: block;
}

.image-block__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0px 0px 0px;
  padding: 0px 0px 6px 0px;
  border-bottom: 1px solid #e0dfdf;
}

.image-block__title p {
  text-indent: 8px;
  font-size: 15px;
}

.image-block__title button {
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  background: #959393;
  background: -o-linear-gradient(306deg, #959393 17%, #b1aeae 25%);
  background: linear-gradient(144deg, #959393 17%, #b1aeae 25%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#959393",endColorstr="#b1aeae",GradientType=1);
}

.image-block__title button .fa-star {
  padding: 5px;
  color: #fff;
}

.image-block__title button:hover {
  background: #ff8500;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.image-block__share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0px 0px 0px;
}

.image-block__share span {
  margin-right: 12px;
}

.share__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 6px;
}

.share__media a {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22px;
          flex: 0 0 22px;
  display: block;
  margin-right: 4px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  position: relative;
  background: #959393;
  background: -o-linear-gradient(306deg, #959393 17%, #b1aeae 25%);
  background: linear-gradient(144deg, #959393 17%, #b1aeae 25%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#959393",endColorstr="#b1aeae",GradientType=1);
}

.share__media a::before,
.share__media a::after {
  bottom: 0;
  position: absolute;
  display: none;
}

.share__media a::before {
  content: '';
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
      -ms-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-bottom: 7px solid #000;
}

.share__media a::after {
  background: #000;
  height: 17px;
  width: 124px;
  border-radius: 2px;
  left: 0;
  -webkit-transform: translateY(140%);
      -ms-transform: translateY(140%);
          transform: translateY(140%);
}

.share__media a:nth-child(1)::after {
  content: 'share in twitter';
}

.share__media a:nth-child(1):hover {
  background: #1DA1F2;
}

.share__media a:nth-child(2)::after {
  content: 'share in facebook';
}

.share__media a:nth-child(2):hover {
  background: #283e8f;
}

.share__media a:nth-child(3)::after {
  content: 'share in pinterest';
}

.share__media a:nth-child(3):hover {
  background: #C42026;
}

.share__media a:nth-child(4)::after {
  content: 'share in tumblr';
}

.share__media a:nth-child(4):hover {
  background: #0E1D32;
}

.share__media a:hover::before,
.share__media a:hover::after {
  display: block;
}

.share__media .fa {
  padding: 5px;
}

.footer p {
  text-align: right;
  font-family: Arial;
  font-size: 17px;
  color: #8b8a8a;
  padding: 10px 10px 20px 0px;
}

@media (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  .header::before {
    height: 50px;
  }

  .header__body {
    height: 50px;
  }

  .header__logo {
    font-size: 35px;
  }

  .header__burger {
    display: block;
    position: relative;
    height: 20px;
    width: 30px;
    z-index: 3;
  }

  .header__burger span {
    position: absolute;
    top: 9px;
    width: 100%;
    height: 2px;
    background: #1f1f1f;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger::before,
  .header__burger::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #1f1f1f;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    padding: 110px 0px 0px 0px;
    background: #e2e2e2;
    background: -webkit-gradient(linear, left bottom, left top, from(#e2e2e2), to(white));
    background: -o-linear-gradient(bottom, #e2e2e2 0%, white 100%);
    background: linear-gradient(0deg, #e2e2e2 0%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e2e2e2",endColorstr="#ffffff",GradientType=1);
    /*Max Compatibility IE6+ */
  }

  .header__menu.active {
    top: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }

  .header__list li:hover {
    background: #F2F2F2;
    border: none;
  }

  .header__list li:hover::before {
    display: none;
  }

  .header__list li {
    border: none;
    padding: 80px 0px 0px 0px;
  }

  .header__list {
    display: block;
    padding: 70px 0px 0px 0px;
  }

  .header__link {
    font-size: 34px;
  }

  .header__link i {
    font-size: 36px;
  }

  .main__content {
    padding: 107px 0px 0px 0px;
  }

  .main__form h1 {
    font-size: 24px;
  }

  .main__form .file input {
    width: 375px;
    height: 42px;
  }

  .main__form .file input::before {
    height: 42px;
  }

  .main__form .file input::after {
    padding: 6px 14px 8px 13px;
    font-size: 16px;
    right: 7px;
  }

  .main__form .file {
    top: -12px;
  }

  .main__form button {
    height: 42px;
    font-size: 22px;
  }
}

@media (max-width: 710px) {
  .main__images {
    width: 350px;
    margin: -30px auto 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 606px) {
  .main__form .file {
    margin-right: 0;
  }
}

@media (max-width: 400px) {
  .main__form .file input {
    width: 300px;
    height: 32px;
  }

  .main__form .file input::before {
    height: 32px;
  }

  .main__form .file input::after {
    padding: 3px 11px 5px 10px;
    font-size: 14px;
    right: 5px;
  }

  .main__form button {
    height: 32px;
    width: 160px;
    font-size: 18px;
  }
}

@media (max-width: 375px) {
  .header__logo {
    font-size: 28px;
  }

  .header__menu {
    padding: 40px 0px 0px 0px;
  }

  .header__list li {
    padding: 40px 0px 0px 0px;
  }

  .header__list {
    padding: 30px 0px 0px 0px;
  }

  .header__link {
    font-size: 20px;
  }

  .header__link i {
    display: none;
  }

  .main__content {
    padding: 71px 0px 0px 0px;
  }

  .main__form h1 {
    font-size: 20px;
  }

  .main__images {
    width: 300px;
    margin: -40px auto 0px;
  }

  .footer p {
    text-align: center;
    font-size: 14px;
    padding: 10px 0px 10px;
    line-height: 18px;
  }
}